@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.backdrop {
  animation: fadeIn 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contentBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

